.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1;
}

.grid > * {
  display: flex;
  flex: 1 19%;
  margin: 0.5%;
}

.grid > *:hover {
  box-shadow: 0 0 15px 0px #675f5f;
}

@media (max-width: 1980px) {
  .grid > * {
    flex: 1 24%;
  }
}

@media (max-width: 1600px) {
  .grid > * {
    flex: 1 32%;
  }
}

@media (max-width: 1200px) {
  .grid > * {
    flex: 1 49%;
  }
}