.weather-thumbnail {
  display: inline-block;
  border-radius: 4%;
  border: 2px solid #615d5d38;
  padding: 5px;
  cursor: pointer;
}

.weather-thumbnail > .date,
.weather-thumbnail > .info,
.weather-thumbnail > .time {
  color: grey;
} 

.weather-thumbnail > .date,
.weather-thumbnail > .temp {
  font-weight: bold;
}

.weather-thumbnail > .info,
.weather-thumbnail > .time {
  font-size: 13px;
  font-style: italic;
}

.weather-thumbnail > .info img {
  padding: 0 5px;
}