.weather-view {
  width: 60%;
  margin: 0 auto;
}

.weather-view > * {
  margin: 20px auto;
}

.weather-view > .search-bar {
  width: 40%;
}

.weather-view > .weather-detail-container {
  display: flex;
  justify-content: center;
}